<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link href="../../static/images/me.png" th:href="@{/images/me.png}" rel="icon" type="image/x-ico">
</head>
<body>
<h1>欢迎主人</h1>
<a th:href="@{/admin/say}">发布说说</a>
<a th:href="@{/admin/showSay}">查看说说并进行删除或者修改</a>
<br/>


<a th:href="@{/write}">写博客</a>
<br/>


<a th:href="@{/deleteComment}">删除评论</a>
<br/>


<a th:href="@{/deleteMessage}">删除留言</a>


<br/>
<a th:href="@{/addPicture}">增加图片</a>
<a th:href="@{/showPicture}">查看图片并进行删除或修改</a>


<br/>
<a th:href="@{/index}">回到首页</a>
<a th:href="@{/logout}">注销</a>


</body>
</html>