body {
    background: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#login-box {
    width: 30%;
    height: auto;
    margin: 0 auto; 
    margin-top: 10%;
    text-align: center;
    background: #00000090;
    padding: 70px 50px;
}

#login-box h1 {
    color: #fff;
    margin-top: 0%;
}
#login-box .form .item {
    margin-top:15px;
}
#login-box .form .item i {
    font-size: 18px;
    color: #fff;
}
#login-box .form .item input {
    width: 300px;
    height: 50px;
    font-size: 25px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 0px;
    background: #ffffff00;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

.light-btn {
    margin-top: 40px;
    font-size: 24px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    z-index: 1;
}

.light-btn:hover::before,
.light-btn:hover {
    cursor: pointer;
    animation: sun 8s infinite;
}

.light-btn::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 50px;
    filter: blur(10px);
    z-index: -1;
}

@keyframes sun {
    100%{
        background-position: -400% 0;
    }
}

